body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

.card {
  background: white;
  width: 340px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.good {
  color: green;
  font-weight: bold;
}

.bad {
  color: red;
  font-weight: bold;
}
